mixin navbar
    nav.navbar.navbar-expand-lg
        .container-fluid
            a.navbar-brand(href="/") Home
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarContent", aria-controls="navbarContent", aria-expanded="false", aria-label="Toggle navbar")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarContent
                ul.navbar-nav.me-auto
                    li.nav-item
                        a.nav-link(href="/about") About
                    li.nav-item
                        a.nav-link(href="/dashboard") Dashboard
                    li.nav-item
                        a.nav-link(href="/login") Login
                    li.nav-item
                        a.nav-link(href="/logout") Logout

                if user
                    .d-flex.justify-content-center
                        span Hi, #{user.username} (#{user.type} Account)